<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Driver</title>
  </head>
  <body>
    <h1>Driver</h1>
    <form action="">
        <label for="source">Source</label>
        <br>
        <select name="source" id="source">
          <option value="ds1">Rajajinagar</option>
          <option value="ds2">M G Road</option>
          <option value="ds3">Kengeri</option>
          <option value="ds4">Whitefield</option>
          <option value="ds5">Bommanahalli</option>
        </select>
        <br><br>

        <label for="dest">Destination</label>
        <br>
        <select name="dest" id="dest">
          <option value="dd1">Rajajinagar</option>
          <option value="dd2">M G Road</option>
          <option value="dd3">Kengeri</option>
          <option value="dd4">Whitefield</option>
          <option value="dd5">Bommanahalli</option>
        </select>
        <br><br>
        <label for="time">Time</label>
        <br>
        <select name="time" id="time">
          <option value="dslot1">9 AM-12 PM</option>
          <option value="dslot2">12 PM- 3 PM</option>
          <option value="dslot3">3 PM- 6 PM</option>

        </select>
        <br><br>


        <input type="submit" value="Submit">
      </form>

  </body>
</html>
