<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Passenger</title>
  </head>
  <body>
    <h1>Passenger</h1>
    <form action="">
        <label for="source">Source</label>
        <br>
        <select name="source" id="source">
          <option value="ps1">Rajajinagar</option>
          <option value="ps2">M G Road</option>
          <option value="ps3">Kengeri</option>
          <option value="ps4">Whitefield</option>
          <option value="ps5">Bommanahalli</option>
        </select>
        <br><br>

        <label for="dest">Destination</label>
        <br>
        <select name="dest" id="dest">
          <option value="pd1">Rajajinagar</option>
          <option value="pd2">M G Road</option>
          <option value="pd3">Kengeri</option>
          <option value="pd4">Whitefield</option>
          <option value="pd5">Bommanahalli</option>
        </select>
        <br><br>
        <label for="time">Time</label>
        <br>
        <select name="time" id="time">
          <option value="pslot1">9 AM-12 PM</option>
          <option value="pslot2">12 PM- 3 PM</option>
          <option value="pslot3">3 PM- 6 PM</option>

        </select>
        <br><br>


        <input type="submit" value="Submit">
      </form>

  </body>
</html>
